<style>
.card{
    font-size: 0.6rem;
    padding: 0.1rem}
.card h4 {
    font-size:0.6rem; 
}
.card input{
    font-size: 0.6rem;
}
.card label{
    font-size: 0.6rem;
}
.layout-columns {
    gap: 0.25rem;
}
.comparison-row{
    height: 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid;
}
.comparison-image{
    height: 100px;
    width: 90%;
    display: block;
    margin: 0 auto;
}